In [1]:
# format():- Formats specified values in a string
name =input("Enter youre name")
Father_Name =input("Enter your father name")
uni = "Numl university islamabad"   
message = """
piaic islamabac Batch3
Name: {}
Father_Name: {}
University: {}
"""
message1 = message.format(name, Father_Name, uni)
print(message1)

Enter youre namehasnain
Enter your father namesaleem ahmed

piaic islamabac Batch3
Name: hasnain
Father_Name: saleem ahmed
University: Numl university islamabad

In [2]:
#print():- Print a message onto the screen:
print("Hello world")
print?

Hello world

In [3]:
# abs():-Returns the absolute value of a number
exNum1 = -5
exNum2 = 5
print(exNum1)

if abs(exNum1) == exNum2:
    print('these are the same')

-5
these are the same

In [4]:
#max():- Returns the largest item in an iterable
list= [2,6,3,4,8,0,1,9]
print(max(list))
#max():- Returns the Smallest item in an iterable
list1= [2,6,3,4,8,0,1,9]
print(min(list))

9
0

In [5]:
#float() :- Return to floating point number
num = '55'
print(float(num))

#str():- function converts the specified value into a string.
x=55.5
print(str(x))

#input():- Allowing user input

print("Enter your name:")
x = input()
print("Hello, " + x)

55.0
55.5
Enter your name:
ali raza
Hello, ali raza

In [6]:
# getattr():- Returns the value of the specified attribute (property or method)

class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')

print(x)

36